# 준비

## 필요한 파일 목록
- costmin.csv
- 가좌대면전공교양_모르는건물제거.csv
> ttbl.ipynb와 같은 디렉토리(폴더)에 위치시켜주세요

## 변수명들
- df0, 가좌대면전공교양_모르는건물제거.csv를 불러옵니다
- df, df0에서 특정 전공에 맞는 과목만 필터링합니다.
- ttbl, 시간표입니다. 기본적으로는 빈 시간은 -1 채운 시간은 df 내의 과목의 인덱스로 채워둡니다. beautifulttbl(df, ttbl) 사용시 과목명으로 변경됩니다.
- costmin, 강의동 간 도보이동시간을 행렬로 표현해뒀습니다. i, j좌표는 출발지점이 i고 도착지점이 j일때 도보이동시간입니다. 인덱스와 열 이름 각각은 강의동 번호입니다.

## 함수들
> 아래 필요 함수들 셀의 주석을 참조하세요

## 사용법
1. 첫줄이 준비인 셀들을 위에서 아래 순서로 전부 한번씩 실행해주세요.
2. 마지막 준비 셀은 시간표(ttbl)를 세팅합니다. 또한 실행할때마다 ttbl이 초기화 되므로 초기화 용도로도 씁니다.

## 주의사항
- 기숙사 6동에서 월화수목에 하는 영어수업은 배제했습니다.
- 경상국립대학교 캠퍼스맵에 표기되지 않은 일부 건물 (농대 신 건물 등)은 배제하였습니다.
- 가좌캠퍼스의 대면수업만을 대상으로 하였습니다.

In [1]:
# 준비
import pandas as pd
import numpy as np
import re

In [10]:
# 준비
# 자료 불러오기
costmin = pd.read_csv('costmin.csv', index_col=0)
df0 = pd.read_csv('가좌대면전공교양_모르는건물제거.csv')

# costmin.csv와 가좌대면전공교양_모르는건물제거.csv 필요

# 준비
# 필요 함수들
# 강의들의 목록:df, 시간표:ttbl 으로 변수명을 줬음.

# df에서 원하는 과목 검색하기
def search(df: pd.DataFrame, subj: str):
    return df[df['교과목명'] == subj]

# 정규표현식을 통해 df의 name 열에서 문자열을 추출하여 newname이란 열에 저장
def extract(df: pd.DataFrame, name: str, newname: str, regex: str):
    df[newname]=df[name].apply(lambda x:re.search(regex,str(x)).group(1) if re.search(regex,str(x)) else '')

# major를 문자열 형태로 줘서 학부(과)열이 major와 일치하거나, 학부(과)가 공란인 경우만 반환
def fixmajor(df: pd.DataFrame, major: str):
    return df[(df['학부(과)']==major) | (df['학부(과)'].isna())].reset_index(drop = True)

# 강의정보 열의 '금1,2[352-301]' 같은 문자열에서 요일, 교시, 동, 호를 딕셔너리로 반환
def sortout(string: str):
    return {'요일':re.search('(^[월화수목금토일])', string).group(1), '교시':re.search('^[월화수목금토일](.*?)\[', string).group(1), '동':re.search('\[0*(\d+)\-', string).group(1), '호':re.search('\-(.+)', string).group(1)}

#시간표에 과목들 목록을 출력함
def makelist(ttbl: pd.DataFrame):
    return ttbl[ttbl != -1].stack().unique().astype(int)

# 강의정보 문자열로 [[교시],'요일']을 반환
def whattime(info: str):
    return [np.array(sortout(info)['교시'].split(',')).astype(int), sortout(info)['요일']]

# 강의정보 문자열을 주고 시간표를 주면 해당하는 시간표 영역을 반환
def timecheck(ttbl: pd.DataFrame, info: str):
    return ttbl.loc[np.array(sortout(info)['교시'].split(',')).astype(int), sortout(info)['요일']]

# 강의 번호와 df와 ttbl을 주면 ttbl에 강의번호를 적절히 기입함
def insert(df: pd.DataFrame, ttbl: pd.DataFrame, index: int):
    ttbl.loc[np.array(sortout(df.loc[index, '강의정보1'])['교시'].split(',')).astype(int), sortout(df.loc[index, '강의정보1'])['요일']] = index
    if not pd.isnull(df.loc[index, '강의정보2']):
        ttbl.loc[np.array(sortout(df.loc[index, '강의정보2'])['교시'].split(',')).astype(int), sortout(df.loc[index, '강의정보2'])['요일']] = index

# index를 주면 [강의번호1의 값] 혹은 (만약 강의번호 2가 존재한다면) [강의번호1의 값, 강의번호2의 값]을 반환
def getinfo(df: pd.DataFrame, index: int):
    result = [df.loc[index, '강의정보1']]
    if not pd.isnull(df.loc[index, '강의정보2']):
        result.append(df.loc[index, '강의정보2'])
    return result

# 시간표 중복 필터링
def filter_by_time(df: pd.DataFrame, ttbl: pd.DataFrame, index: int):
    if (timecheck(ttbl, df.loc[index, '강의정보1']) != -1).any():
        return False
    if not pd.isnull(df.loc[index, '강의정보2']):
        return (timecheck(ttbl, df.loc[index, '강의정보2']) == -1).all()
    return True

# 도보 이동시간 10분 이상 필터링
def filter_by_costmin(df: pd.DataFrame, ttbl: pd.DataFrame, costmin: pd.DataFrame, index: int):
    for i in makelist(ttbl):
        for j in getinfo(df, i):
            for k in getinfo(df, index):
                # 아랫줄 끝단의 9를 n으로 변경시 n+1 이상인 경우 필터링으로 배제
                if sortout(j)['요일'] == sortout(k)['요일'] and str(int(sortout(j)['교시'].split(',')[-1])+1) in sortout(k)['교시'].split(',') and costmin.loc[sortout(j)['동'], sortout(k)['동']] > 9:
                    return False
    return True

# 캠퍼스맵에 없는 건물 list
def dontknowbuildinglist(df: pd.DataFrame, costmin: pd.DataFrame):
    res = []
    for i in df.index:
        for j in getinfo(df, i):
            if not sortout(j)['동'] in costmin.index:
                res.append(i)
    return res

# 현재 시간표에서 가능한 목록 리스트 뽑아내기
def caninsert(df: pd.DataFrame, ttbl: pd.DataFrame, costmin: pd.DataFrame):
    return [i for i in df.index if filter_by_time(df, ttbl, i) and filter_by_costmin(df, ttbl, costmin, i)]

# 시간표 꾸미기
def beautifulttbl(df: pd.DataFrame, ttbl: pd.DataFrame, sizefix = True):
    beauty = ttbl.map(lambda x: '' if x == -1 else df.loc[x, '교과목명'])
    # return beauty.style.background_gradient(cmap='rainbow') # 색깔 넣기 시도했으나 문자열이라 색깔이 지정되지 않음
    if sizefix:
        return beauty.style.set_properties(width='70px', height='30px')
    else:
        return beauty


# 시간표 겹치는지 10분 이내인지 체크하고 넣기
def checkandinsert(df: pd.DataFrame, ttbl: pd.DataFrame, costmin: pd.DataFrame, idx: int):
    if filter_by_time(df, ttbl, idx) and filter_by_costmin(df, ttbl, costmin, idx): # 시간표가 겹치거나 이동시간이 10분 이상인지 검사
        insert(df,ttbl,idx)

# ttbl 초기화
def reset_ttbl(ttbl: pd.DataFrame):
    return ttbl * 0 - 1

# n단계 순회하며 가능한 경우 추가하여 n+1단계 집합 만들기 n+1단계가 [](비어있을 경우)일 경우 종결. caninsert에 제약 추가할 방법 고민하기.
'''
제약 고민
제약의 두가지 종류: ttbl에 의해 생기는 제약(10분 거리, 겹침 등), ttbl과 무관한 제약(특정 요일이나 특정 시간대 비워두기)
전자의 제약은 ttbl을 인자로 받아서 처리해야 하고(이런 류의 함수명을 filter_by_어쩌고로 통일하겠음) 후자의 제약은 df0에서 df를 불러올때 미리 적용하는 방향으로 가는게 좋아보임(fixmajor가 수학물리학부만 남기는 과정과 유사)
'''

    

def possiblettbl(df: pd.DataFrame, ttbl: pd.DataFrame, costmin: pd.DataFrame, level: int):
    if not caninsert(df,ttbl,costmin):
        print('더 추가할 만한 과목이 없습니다')
        return
    res = [[[i] for i in caninsert(df,ttbl,costmin)]] # 1단계 시간표, 과목 목록이 1개 추가됨.
    tttbl = pd.DataFrame(np.full((num,7), -1))
    tttbl.columns = '월 화 수 목 금 토 일'.split(' ')
    tttbl.index = range(num+1)[1:]
    tttbl = tttbl.astype(int) # temporary time table
    
    tdf = df.loc[caninsert(df,ttbl,costmin)]
    
    count = 1
    print(f'과목을 {count}개 추가하는 모든 경우의 수를 탐색했습니다')
    
    while count != level:
        nextlevel = []
        for i in res[-1]: # 마지막 레벨인 시간표들 불러오기
            tttbl = reset_ttbl(tttbl)
            for j in i:
                insert(tdf, tttbl, j) # 시간표를 ttbl형식으로 만들기
            li = [i0 for i0 in caninsert(tdf,tttbl,costmin) if i0 > i[-1]]
            for j in li: # 추가 가능한 목록 불러오기
                t = i.copy()
                t.append(j) # 추가해서 다음단계의 시간표 만들기
                t.sort()
                nextlevel.append(t) # 시간표 저장하기
        count += 1
        if nextlevel:
            res.append(nextlevel)
            print(f'과목을 {count}개 추가하는 모든 경우의 수를 탐색했습니다')
        else:
            print(f'가능한 모든 목록을 탐색하였습니다 최대 {count}개 추가가능합니다')
            break
    print(f'작업이 완료되었습니다.\n과목을 {count}개 추가하는 경우의 수는 {len(res[-1])}개 입니다')
    return res

# 연강 이동시간 구하기

def totalcostmin(df: pd.DataFrame, ttbl: pd.DataFrame, costmin: pd.DataFrame):
    totalcost = 0
    for weekday in '월 화 수 목 금 토 일'.split(' '):
        for n in ttbl.index[:-1]:
            if ttbl.loc[n, weekday] != -1 and ttbl.loc[n+1, weekday] != -1 and ttbl.loc[n, weekday] != ttbl.loc[n+1, weekday]:
                if sortout(df.loc[ttbl.loc[n, weekday],'강의정보1'])['요일'] == weekday:
                    start = sortout(df.loc[ttbl.loc[n, weekday],'강의정보1'])['동']
                else:
                    start = sortout(df.loc[ttbl.loc[n, weekday],'강의정보2'])['동']
                if sortout(df.loc[ttbl.loc[n+1, weekday],'강의정보1'])['요일'] == weekday:
                    end = sortout(df.loc[ttbl.loc[n+1, weekday],'강의정보1'])['동']
                else:
                    end = sortout(df.loc[ttbl.loc[n+1, weekday],'강의정보2'])['동']
                totalcost += costmin.loc[start, end]
    return totalcost

def getrate(*func, **params) -> int: # func는 ttbl과 df를 먹고 점수를 뱉는다 float로 그런데 거리도 고려하면... 거리는 고려하지 않기로 함
    rate = 1
    for f in func:
        rate *= f(df, ttbl)
    return rate

def greedyttbl(df: pd.DataFrame, ttbl: pd.DataFrame, costmin: pd.DataFrame, level: int):
    if not caninsert(df,ttbl,costmin):
        print('더 추가할 만한 과목이 없습니다')
        return []
    while len(lastchoice) == level:
        tdf = df.loc[caninsert(df,ttbl,costmin)]
        rate = 0
        greedychoice = []
        lastchoice = []
        rateli = []
        print(f'과목을 {len(lastchoice)+1}개 추가하는 모든 경우의 수를 탐색했습니다')
        print('시간표들 평가 중...')
        for k in caninsert(df,tttbl,costmin):
            ttbl = ttbl
            for k0 in k:
                insert(tttbl, k0)
            rateli.append(tr) = getrate(df, tttbl)
            if rate <= tr:
                rate = tr
                greedychoice.append(k[-1])
        if len(greedychoice) == 0:
            print(f'현재 상황에서 더 이상 추가할 과목이 없습니다. 현재의 평가 기준에서 {len(lastchoice)}개 과목을 추가합니다')
            return
        print(f'욕심날만한 시간표 목록을 전부 찾았습니다. 선택지의 개수는 {len(greedychoice)}개 입니다.')
        display(tdf[greedychoice])
    
        # 과목 선택 시간
        while True:
            if len(greedychoice) == 1:
                userchoice = greedychoice[0]
                print('가장 욕심나는 과목을 추가했습니다')
                break
            else:
                try:
                    userchoice = int(input('원하시는 시간표의 번호를 숫자로 입력해주세요'))
                except:
                    print('뭔가 잘못 되었습니다. 혹시 숫자를 입력하지 않으셨나요?')
                    pass
                if userchoice in greedychoice:
                    print(f'선택하신 {userchoice}번 과목을 추가하였습니다.')
                    break
                else:
                    print('주어진 선택지 중에서 고르세요')
        lastchoice.append(userchoice)
    
                
            

    
    while True:
        tdf = df.loc[caninsert(df,ttbl,costmin)]
        rate = 0
        greedychoice = []
        lastchoice = []
        print(f'과목을 {len(lastchoice)+1}개 추가하는 모든 경우의 수를 탐색했습니다')
        print('시간표들 평가 중...')
        for k in caninsert(df,ttbl,costmin):
            tttbl = ttbl
            for k0 in k:
                insert(tttbl, k0)
            tr = getrate(df, tttbl)
            if rate <= tr:
                rate = tr
                greedychoice.append(k[-1])
        for i in res[-1]: # 마지막 레벨인 시간표들 불러오기
            tttbl = reset_ttbl(tttbl)
            for j in i:
                insert(tdf, tttbl, j) # 시간표를 ttbl형식으로 만들기
            li = [i0 for i0 in caninsert(tdf,tttbl,costmin) if i0 > i[-1]]
            for j in li: # 추가 가능한 목록 불러오기
                t = i.copy()
                t.append(j) # 추가해서 다음단계의 시간표 만들기
                t.sort()
                nextlevel.append(t) # 시간표 저장하기
        if nextlevel:
            res.append(nextlevel)
            print(f'과목을 {count}개 추가하는 모든 경우의 수를 탐색했습니다')
            print('시간표들 평가 중...')
        else:
            print(f'현재 상황에서 더 이상 추가할 과목이 없습니다. 현재의 평가 기준에서 {len(lastchoice)}개 과목을 추가합니다')
            break
    print('작업이 완료되었습니다.')
    return lastchoice

<>:26: SyntaxWarning: invalid escape sequence '\['
<>:26: SyntaxWarning: invalid escape sequence '\['
<>:26: SyntaxWarning: invalid escape sequence '\-'
<>:26: SyntaxWarning: invalid escape sequence '\['
<>:26: SyntaxWarning: invalid escape sequence '\['
<>:26: SyntaxWarning: invalid escape sequence '\-'
/tmp/ipykernel_786/254615912.py:26: SyntaxWarning: invalid escape sequence '\['
  return {'요일':re.search('(^[월화수목금토일])', string).group(1), '교시':re.search('^[월화수목금토일](.*?)\[', string).group(1), '동':re.search('\[0*(\d+)\-', string).group(1), '호':re.search('\-(.+)', string).group(1)}
/tmp/ipykernel_786/254615912.py:26: SyntaxWarning: invalid escape sequence '\['
  return {'요일':re.search('(^[월화수목금토일])', string).group(1), '교시':re.search('^[월화수목금토일](.*?)\[', string).group(1), '동':re.search('\[0*(\d+)\-', string).group(1), '호':re.search('\-(.+)', string).group(1)}
/tmp/ipykernel_786/254615912.py:26: SyntaxWarning: invalid escape sequence '\-'
  return {'요일':re.search('(^[월화수목금토일])', string).group(1), '교시':re.search('^[월화수목금토일](.*?)\[', string).group(1), '동':re.search('\[0*(\d+)\-', string).group(1), '호':re.search('\-(.+)', string).group(1)}

In [3]:
# 준비
# 전공 선택
df = fixmajor(df0, '수학물리학부')

In [4]:
# 준비
# 시간표 만들기

# 비어있는 시간은 -1을 입력했음

num = 15 # num교시까지
ttbl = pd.DataFrame(np.full((num,7), -1))
ttbl.columns = '월 화 수 목 금 토 일'.split(' ')
ttbl.index = range(num+1)[1:]
ttbl = ttbl.astype(int)

> 여기부터는 자료들을 확인해보실 수 있습니다. (실행시 자료 나타남)

In [ ]:
df0 # 가좌캠퍼스에서 대면수업이고 캠퍼스맵에 존재하는 건물에서 진행되는 수업들 목록

In [ ]:
df # 그 중에 fixmajor로 택한 전공수업+교양들만 남긴 목록

In [ ]:
ttbl # 시간표

In [ ]:
costmin # 도보이동시간 행렬

## 실행하기
> 여기부터는 위의 함수들을 통해 시간표에 값을 채워넣고, 추가 가능한 시간표들의 목록을 알아보고, 인덱스를 과목명으로 변환합니다.<br>모든 함수를 아실 필요는 없습니다. 아래에 있는 함수만 이해하셔도 쓰는데 지장 없습니다.

In [5]:
# 특정 과목을 검색합니다
search(df, '현대대수학1')

,순번,이수구분,교과목명,캠퍼스구분,학점,강의시간/강의실,강의정보1,강의정보2,학부(과),영역구분
23,563,전필,현대대수학1,가좌캠퍼스,2.0,"수1,2[354-0410]","수1,2[354-0410]",NaN,수학물리학부,NaN

In [5]:
# df의 23번 과목을 ttbl에 넣습니다. 겹치는 과목이 있어도 그냥 단순히 채워넣습니다. 겹칠경우엔 겹치는 부분은 덮어씁니다. (이 경우 덮어써진 과목의 덮어써지지 않은 교시는 살아남아서 시간표 무결성이 깨질 수 있음.)
insert(df, ttbl, 23)
# ttbl 확인
ttbl

    월  화   수  목  금  토  일
1  -1 -1  23 -1 -1 -1 -1
2  -1 -1  23 -1 -1 -1 -1
3  -1 -1  -1 -1 -1 -1 -1
4  -1 -1  -1 -1 -1 -1 -1
5  -1 -1  -1 -1 -1 -1 -1
6  -1 -1  -1 -1 -1 -1 -1
7  -1 -1  -1 -1 -1 -1 -1
8  -1 -1  -1 -1 -1 -1 -1
9  -1 -1  -1 -1 -1 -1 -1
10 -1 -1  -1 -1 -1 -1 -1
11 -1 -1  -1 -1 -1 -1 -1
12 -1 -1  -1 -1 -1 -1 -1
13 -1 -1  -1 -1 -1 -1 -1
14 -1 -1  -1 -1 -1 -1 -1
15 -1 -1  -1 -1 -1 -1 -1

In [6]:
# insert와는 다르게 겹치는지, 이동하는데 걸리는 시간이 10분 이하인지 체크하고 집어넣습니다.
checkandinsert(df, ttbl, costmin, 34)
# ttbl 확인
ttbl

     월  화   수  목  금  토  일
1   -1 -1  23 -1 -1 -1 -1
2   -1 -1  23 -1 -1 -1 -1
3   -1 -1  -1 -1 -1 -1 -1
4   -1 -1  -1 -1 -1 -1 -1
5   34 -1  -1 -1 -1 -1 -1
6   -1 -1  34 -1 -1 -1 -1
7   -1 -1  34 -1 -1 -1 -1
8   -1 -1  -1 -1 -1 -1 -1
9   -1 -1  -1 -1 -1 -1 -1
10  -1 -1  -1 -1 -1 -1 -1
11  -1 -1  -1 -1 -1 -1 -1
12  -1 -1  -1 -1 -1 -1 -1
13  -1 -1  -1 -1 -1 -1 -1
14  -1 -1  -1 -1 -1 -1 -1
15  -1 -1  -1 -1 -1 -1 -1

In [8]:
# 좀 더 시간표 답게 보고싶으면 beautifulttbl을 씁니다.
beautifulttbl(df, ttbl)

In [13]:
# 유연하게 조정되는 사이즈를 원하신다면 sizefix 옵션을 Flase로 주십시오.
beautifulttbl(df, ttbl, sizefix = False)

         월         화       수         목 금 토 일
1              현대물리학   통계물리1  수리물리1및연습
2              현대물리학   통계물리1  수리물리1및연습
3           수리물리1및연습    알고리즘     현대물리학
4    통계물리1  수리물리1및연습    알고리즘
5                       알고리즘
6   역학1및연습            역학1및연습
7   역학1및연습            역학1및연습
8                               현대물리실험
9                               현대물리실험
10
11
12
13
14
15

In [10]:
# df에서 23번 강의 정보를 불러옵니다.
getinfo(df,23)

['수1,2[354-0410]']

In [11]:
# 만약 강의가 월요일에도 하고 수요일에도 하면...
getinfo(df, 34)

['월5[354-0423]', '수6,7[354-0423]']

In [12]:
# [0]을 붙이면 첫번째를, [1]을 붙이면 두번째를 반환합니다. 이렇게 []를 제거해야 sortout으로 정보들을 분류해낼 수 있습니다.
getinfo(df,34)[0]

'월5[354-0423]'

In [13]:
# sortout을 통해 요일, 교시, 동, 호를 분리합니다
sortout(getinfo(df,34)[0])

{'요일': '월', '교시': '5', '동': '354', '호': '0423]'}

In [14]:
# 역시 ['요일'] 등을 붙여 값을 분리해낼 수 있습니다.
sortout(getinfo(df,34)[0])['동']

'354'

In [7]:
# 시간표 초기화
ttbl = reset_ttbl(ttbl)

ttbl

    월  화  수  목  금  토  일
1  -1 -1 -1 -1 -1 -1 -1
2  -1 -1 -1 -1 -1 -1 -1
3  -1 -1 -1 -1 -1 -1 -1
4  -1 -1 -1 -1 -1 -1 -1
5  -1 -1 -1 -1 -1 -1 -1
6  -1 -1 -1 -1 -1 -1 -1
7  -1 -1 -1 -1 -1 -1 -1
8  -1 -1 -1 -1 -1 -1 -1
9  -1 -1 -1 -1 -1 -1 -1
10 -1 -1 -1 -1 -1 -1 -1
11 -1 -1 -1 -1 -1 -1 -1
12 -1 -1 -1 -1 -1 -1 -1
13 -1 -1 -1 -1 -1 -1 -1
14 -1 -1 -1 -1 -1 -1 -1
15 -1 -1 -1 -1 -1 -1 -1

In [8]:
# 0부터 5까지의 과목을 추가합시다
for i in range(6):
    checkandinsert(df,ttbl,costmin,i)
ttbl

    월  화  수  목  금  토  일
1  -1  4  5  2 -1 -1 -1
2  -1  4  5  2 -1 -1 -1
3  -1  2  3  4 -1 -1 -1
4   5  2  3 -1 -1 -1 -1
5  -1 -1  3 -1 -1 -1 -1
6   1 -1  1 -1 -1 -1 -1
7   1 -1  1 -1 -1 -1 -1
8  -1 -1 -1  0 -1 -1 -1
9  -1 -1 -1  0 -1 -1 -1
10 -1 -1 -1 -1 -1 -1 -1
11 -1 -1 -1 -1 -1 -1 -1
12 -1 -1 -1 -1 -1 -1 -1
13 -1 -1 -1 -1 -1 -1 -1
14 -1 -1 -1 -1 -1 -1 -1
15 -1 -1 -1 -1 -1 -1 -1

In [8]:
len(caninsert(df, ttbl, costmin)) # 아래 셀의 caninsert 길이

295

In [9]:
# caninsert로 현재의 ttbl에 추가 가능한(시간표가 겹치지 않고 10분 내의 거리인) 과목들의 목록을 반환합니다.
caninsert(df, ttbl, costmin)

[6,
 10,
 11,
 15,
 16,
 22,
 24,
 29,
 35,
 36,
 41,
 42,
 44,
 45,
 53,
 54,
 55,
 58,
 69,
 70,
 71,
 75,
 81,
 88,
 91,
 97,
 107,
 108,
 109,
 111,
 112,
 116,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 127,
 128,
 132,
 133,
 134,
 136,
 137,
 139,
 141,
 142,
 144,
 145,
 150,
 151,
 152,
 153,
 154,
 158,
 161,
 163,
 164,
 169,
 171,
 173,
 176,
 179,
 187,
 188,
 192,
 193,
 196,
 197,
 200,
 203,
 205,
 207,
 209,
 210,
 211,
 214,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 228,
 229,
 230,
 231,
 234,
 235,
 236,
 237,
 238,
 239,
 246,
 249,
 252,
 256,
 258,
 261,
 267,
 277,
 278,
 283,
 289,
 291,
 296,
 298,
 336,
 342,
 349,
 355,
 358,
 359,
 360,
 364,
 365,
 369,
 370,
 371,
 372,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 395,
 397,
 400,
 401,
 417,
 420,
 421,
 440,
 442,
 449,
 450,
 455,
 456,
 462,
 472,
 474,
 475,
 476,
 477,
 479,
 488,
 489,
 491,
 493,
 494,
 496,
 501,
 502,
 505,
 507,
 508,
 512,
 516,
 517,
 523,
 527,
 531,
 532,
 533,
 534,
 538,
 544,
 546,
 549,
 550,
 551,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 578,
 579,
 580,
 581,
 585,
 588,
 589,
 594,
 595,
 596,
 597,
 600,
 601,
 602,
 603,
 604,
 606,
 607,
 612,
 615,
 617,
 618,
 621,
 622,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 635,
 639,
 645,
 646,
 647,
 649,
 650,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 661,
 662,
 664,
 665,
 667,
 668,
 669,
 672,
 673,
 675,
 676,
 679,
 681,
 682,
 683,
 689,
 691,
 693,
 694,
 703,
 707,
 712,
 716,
 720,
 721,
 723,
 724,
 729,
 730,
 731,
 732,
 733,
 739,
 740,
 745,
 749,
 750,
 751,
 755,
 756,
 764,
 765,
 767,
 769,
 770,
 771,
 772,
 774,
 776,
 778,
 779,
 780,
 785,
 786,
 790,
 791,
 792,
 794,
 795,
 796,
 799]

In [11]:
# possiblettbl으로 현재의 ttbl에서 가능한 시간표들의 목록을 반환합니다. (가능한 시간표의 과목들의 리스트를 원소로 갖는 목록이 반환되고, 그 리스트의 항목들을 ttbl에 insert하면 시간표가 됩니다.)
%timeit ttbllist = possiblettbl(df, ttbl, costmin, 1)
# 조합적 폭발탓에 오래걸릴 수 있습니다. 중단하려면 esc 후 i를 두번 누르세요.

과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 1개 추가하는 경우의 수는 295개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 1개 추가하는 경우의 수는 295개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 1개 추가하는 경우의 수는 295개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 1개 추가하는 경우의 수는 295개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 1개 추가하는 경우의 수는 295개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 1개 추가하는 경우의 수는 295개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 1개 추가하는 경우의 수는 295개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 1개 추가하는 경우의 수는 295개 입니다
879 ms ± 12.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
# possiblettbl으로 현재의 ttbl에서 가능한 시간표들의 목록을 반환합니다. (가능한 시간표의 과목들의 리스트를 원소로 갖는 목록이 반환되고, 그 리스트의 항목들을 ttbl에 insert하면 시간표가 됩니다.)
%timeit ttbllist = possiblettbl(df, ttbl, costmin, 2)
# 조합적 폭발탓에 오래걸릴 수 있습니다. 중단하려면 esc 후 i를 두번 누르세요.

과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
과목을 2개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 2개 추가하는 경우의 수는 37835개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
과목을 2개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 2개 추가하는 경우의 수는 37835개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
과목을 2개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 2개 추가하는 경우의 수는 37835개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
과목을 2개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 2개 추가하는 경우의 수는 37835개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
과목을 2개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 2개 추가하는 경우의 수는 37835개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
과목을 2개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 2개 추가하는 경우의 수는 37835개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
과목을 2개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 2개 추가하는 경우의 수는 37835개 입니다
과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
과목을 2개 추가하는 모든 경우의 수를 탐색했습니다
작업이 완료되었습니다.
과목을 2개 추가하는 경우의 수는 37835개 입니다
1min 9s ± 481 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [10]:
# possiblettbl으로 현재의 ttbl에서 가능한 시간표들의 목록을 반환합니다. (가능한 시간표의 과목들의 리스트를 원소로 갖는 목록이 반환되고, 그 리스트의 항목들을 ttbl에 insert하면 시간표가 됩니다.)
%timeit ttbllist = possiblettbl(df, ttbl, costmin, 3)
# 조합적 폭발탓에 오래걸릴 수 있습니다. 중단하려면 esc 후 i를 두번 누르세요.

과목을 1개 추가하는 모든 경우의 수를 탐색했습니다
과목을 2개 추가하는 모든 경우의 수를 탐색했습니다

KeyboardInterrupt:

In [ ]:
# 시간표에서 총 연강인 도보시간을 구합니다
# 아직 버그있어서 작동안함. 고칠 예정
totalcostmin(df, ttbl, costmin)